.slogan {
  color: #DA5510;
  font-size: 25px;
  padding-top: 10px;
}

.l-25{
  left: 25px;
}

#result-list h2{
  text-align: center;
  padding-bottom: 10px;
  border-style: solid;
  border-color: #DD0000;
  border-width: 10px;
  border-radius: 50px;
}

#search-result{
  cursor: pointer;
}

#details-container h2 {
  text-align: center;
  padding-bottom: 10px;
  border-style: solid;
  border-color: #FFCC00;
  border-width: 10px;
  border-radius: 50px;
}

#listed-details li{
  list-style: none;
  cursor: pointer;
}

#favorites-container h2{
  text-align: center;
  padding-bottom: 10px;
  border-style: solid;
  border-color: #FC7E10;
  border-width: 10px;
  border-radius: 50px;
}

#prof-list {
  cursor: pointer;
}

#favorite-list {
  cursor: pointer;
}

#error-display {
  position: absoulte;
  color: #DD0000;
}