.slogan {
  color: #DA5510;
  font-size: 25px;
  padding-top: 10px;
}

.l-25{
  left: 25px;
  padding-left: 100px;
}

#search-container{
  padding-left: 20px;
}

#prof-button {
  cursor: pointer;
}

#prof-list {
  padding-top: 100px;
  list-style: none;
  text-align: left;
  padding: .75rem;
  background-color: rgb(61, 61, 61);
  border-radius: .5rem;
  box-shadow: 0 2px 5px 0 rgba(253, 253, 253, 0.3);
  transform: translateY(-10px);
  transition: 300ms ease-in-out, transform 150ms ease-in-out;
  cursor: pointer;
}

#result-list h2{
  text-align: center;
  padding-bottom: 10px;
  text-decoration-line: underline;
  text-decoration-color: black;
  text-decoration-thickness: 4px;
}

#search-result{
  cursor: pointer;
}

#details-container h2 {
  text-align: center;
  padding-bottom: 10px;
  text-decoration-line: underline;
  text-decoration-color: black;
  text-decoration-thickness: 4px;
}

#details {
  padding-left: 15px;
}

#listed-details li{
  list-style: none;
  cursor: pointer;
}

#favorites-container h2{
  text-align: center;
  padding-bottom: 10px;
  text-decoration-line: underline;
  text-decoration-color: black;
  text-decoration-thickness: 4px;
}

#results-container{
  border: solid;
  border-color: #FC7D01;
  padding: 20px 10px 20px 10px;
  border-width: 10px;
  border-radius: 50px;
  margin: 0px 15px 0px 15px;
}

#detail-results{
  border: solid;
  border-color: #FFDFC4;
  padding: 20px 10px 20px 10px;
  border-width: 10px;
  border-radius: 50px;
  margin: 0px 15px 0px 15px;
}

#favorites-container{
  border: solid;
  border-color: #FFCC01;
  padding: 20px 10px 20px 10px;
  border-width: 10px;
  border-radius: 50px;
  margin: 0px 15px 0px 15px;
}

#favorite-list {
  cursor: pointer;
  list-style: none;
}

#error-display {
  position: absoulte;
  color: #DD0000;
}